<div layout-padding>
  <div flex="40" flex-offset="30" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="90" flex-offset-xs="5" class="fond mar">
    <div layout-padding>
      <div layout-xs="column">
        <div flex>
          <div layout-xs="column" layout-xs="column" layout="row" layout-align="center center" flex-xs="90" flex-offset-xs="5">
            <h2>Registro Medidor</h2>
          </div>  
        </div>
      </div>
      <div layout-xs="column">
        <div flex>
          <div layout-xs="column">
            <div flex>
              <md-input-container class="md-icon-float md-block">
                <label>Numero Medidor</label>
                <md-icon md-svg-src="/assets/img/usuario.svg" class="name"></md-icon>
                <input ng-model="vm.medidor.num_medidor" type="">
              </md-input-container>
            </div>
          </div>
          <div layout-xs="column">
            <div flex>
              <md-input-container class="md-icon-float md-block">
                <label>Marca Medidor</label>
                <md-icon md-svg-src="/assets/img/usuario.svg" class="name"></md-icon>
                <input ng-model="vm.medidor.marca_medidor" type="text">
              </md-input-container>
            </div>
          </div>
          <div layout-xs="column">
            <div flex>
              <md-input-container class="md-icon-float md-block">
                <label>Vivienda</label>
                <md-icon md-svg-src="/assets/img/usuario.svg" class="name"></md-icon>
                <input ng-model="vm.medidor.vivienda_id" type="text">
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div flex layout-xs="column">
        <div layout="row" layout-align="center center" layout-padding>
          <md-button class="md-raised marg" md-colors="{background: 'Red'}" layout-fill style="min-height: 50px;" ng-click="vm.crearmedidor(vm.medidor)">Registrar</md-button>
        </div>
      </div>
    </div>
  </div>
</div>