<div layout-padding>
  <div flex="40" flex-offset="30" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="90" flex-offset-xs="5" class="fond mar">
    <div layout-padding flex layout="column">
      <div layout-xs="column" layout-xs="column" layout="row" layout-align="center center">
        <div>
          <h2>Registro Clientes</h2>
        </div>
      </div>
      <div layout-xs="column">
        <div flex>
          <md-input-container class="md-icon-float md-block">
            <label>RUT</label>
            <md-icon md-svg-src="/assets/img/usuario.svg" class="name"></md-icon>
            <input ng-model="vm.cliente.rut_cliente" type="">
          </md-input-container>
        </div>
      </div>
      <div layout-xs="column">
        <div flex>
          <md-input-container md-no-float class="md-block">
            <label>Nombre Social</label>
            <md-icon md-svg-src="/assets/img/usuario.svg"></md-icon>
            <input ng-model="vm.cliente.nombre" type="text">
          </md-input-container>
        </div>
      </div>
      <div layout-xs="column">
        <div>
          <div layout="row" layout-xs="column">
            <div flex>
              <md-input-container md-no-float class="md-block">
                <label>Apellido Paterno</label>
                <md-icon md-svg-src="/assets/img/usuario.svg"></md-icon>
                <input ng-model="vm.cliente.apellido_pater" type="text">
              </md-input-container>
            </div>
            <div flex>
              <md-input-container md-no-float class="md-block">
                <label>Apellido Materno</label>
                <md-icon md-svg-src="/assets/img/usuario.svg"></md-icon>
                <input ng-model="vm.cliente.apellido_mater" type="text">
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div layout-xs="column">
        <div flex>
          <md-input-container md-no-float class="md-block">
            <label>Telefono</label>
            <md-icon md-svg-src="/assets/img/casa.svg"></md-icon>
            <input ng-model="vm.cliente.telefono" type="text">
          </md-input-container>
        </div>
      </div>
      <div layout-xs="column">
        <div flex>
          <md-input-container md-no-float class="md-block">
            <label>Email</label>
            <md-icon md-svg-src="/assets/img/casa.svg"></md-icon>
            <input ng-model="vm.cliente.email" type="text">
          </md-input-container>
        </div>
      </div>
      <div layout-xs="column">
        <div flex>
          <md-input-container md-no-float class="md-block">
            <label>Residencia</label>
            <md-icon md-svg-src="/assets/img/casa.svg"></md-icon>
            <input ng-model="vm.cliente.residencia" type="text">
          </md-input-container>
        </div>
      </div>
      <div layout="row" layout-align="center center" flex layout-xs="column">
        <md-button class="md-raised" md-colors="{background: 'Red'}" layout-fill style="min-height: 50px;" ng-click="vm.crearcliente(vm.cliente)">Registrarme</md-button>
      </div>
      <div layout-xs="column" layout-padding>
        <md-checkbox name="tos" ng-model="button" required>
          Aceptos terminos de uso
        </md-checkbox>
      </div>  
    </div>
  </div>
</div>