<div layout-padding>
  <div flex="60" flex-offset="20" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="90" flex-offset-xs="5" class="fond mar">
    <div layout-padding flex layout="column">
      <div layout-xs="column" layout-xs="column" layout="row" layout-align="center center">
        <div>
          <h2>Asignación de Vivienda a Cliente</h2>
        </div>
      </div>
      <div layout-xs="column" class="datos">
        <div layout="row" layout-xs="column">
          <div flex>
            <md-input-container class="md-icon-float md-block">
              <label>Cliente</label>
              <md-icon md-svg-src="/assets/img/usuario.svg"></md-icon>
              <md-select ng-model="vm.viviendacliente.cliente_id">
                <md-option ng-repeat="cli in vm.cliente | orderBy : 'nombre'" value="{{ cli.id }}">{{ cli.nombre }}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div flex>
            <md-input-container md-no-float class="md-block">
              <label>Vivienda</label>
              <md-icon md-svg-src="/assets/img/casa.svg"></md-icon>
              <md-select ng-model="vm.viviendacliente.vivienda_id">
                <md-option ng-repeat="viv in vm.vivienda" value="{{ viv.id }}">{{ viv.direccion }}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
      
      <div layout="row" layout-align="center center" flex layout-xs="column">
        <md-button id="registro" class="md-raised" md-colors="{background: 'LightBlue-900'}" layout-fill style="min-height: 50px;" ng-click="vm.asignarvivienda(vm.viviendacliente)">Asignar Vivienda</md-button>
      </div> 
      <!--<div layout="row" layout-align="end center" flex layout-xs="column">
        <md-button class="md-raised volverRegistros" md-colors="{background: 'cyan-600'}" layout-fill ui-sref="menuRegistros">Volver</md-button>
      </div>-->
      <div layout="row" layout-align="end center" flex layout-xs="column">
        <md-button class="md-icon-button md-raised" layout-fill ui-sref="menuRegistros">
          <md-icon  md-svg-icon="/assets/img/back3.svg"></md-icon>
        </md-button>
      </div>   
    </div>
  </div>
</div>