<div layout-padding>
  <div flex="100" flex-md="90" flex-offset-md="5" flex-sm="90" flex-offset-sm="5" flex-xs="90" flex-offset-xs="5" class="mar">
    <div layout-padding flex layout="column">
      <div layout-xs="column" layout-xs="column" layout="row" layout-align="center center">
        <div layout="column" layout-sm="column" layout-xs="column">

          <div layout-md="column" layout-lg="row">
            <div flex>
              <md-button ui-sref="registro">
                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Registro Clientes</span>
                    </md-card-title-text>
                  </md-card-title>
                </md-card>
              </md-button>
            </div> 
            <div flex>
              <md-button ui-sref="registromedidor">
                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Registro Medidor</span>
                    </md-card-title-text>
                  </md-card-title>
                </md-card>
              </md-button>
            </div> 
          </div>
          
          <div layout-md="column" layout-lg="row">
            <div flex>
              <md-button ui-sref="registroPagos">
                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Registro Pagos</span>
                    </md-card-title-text>
                  </md-card-title>
                </md-card>
              </md-button>
            </div> 
            <div flex>
              <md-button ui-sref="registroMensual">
                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Registro Mensual</span>
                    </md-card-title-text>
                  </md-card-title>
                </md-card>
              </md-button>
            </div> 
          </div>

          <div layout-md="column" layout-lg="row">
            <div flex>
              <md-button ui-sref="registroVivienda">
                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Registro Vivienda</span>
                    </md-card-title-text>
                  </md-card-title>
                </md-card>
              </md-button>
            </div> 
            <div flex>
              <md-button ui-sref="#">
                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Nueva Tarjeta</span>
                    </md-card-title-text>
                  </md-card-title>
                </md-card>
              </md-button>
            </div> 
          </div>

        </div>

      </div>  
    </div>
  </div>
</div>