<div layout-padding>
  <div flex="60" flex-offset="20" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="90" flex-offset-xs="5" class="fond mar">
    <div layout-padding flex layout="column">
      <div layout-xs="column" layout-xs="column" layout="row" layout-align="center center">
        <div>
          <h3>Registro Comité</h3><br>
        </div>
      </div>
      <div layout-xs="column" class="datos">
        <div layout="row" layout-xs="column">
          <div flex>
            <md-input-container class="md-icon-float md-block">
              <label>Nombre Comité</label>
              <md-icon md-svg-src="/assets/img/namecomite.svg" class="name"></md-icon>
              <input ng-model="vm.comite.nombre" type="text">
            </md-input-container>
          </div>
          <div flex>
            <md-input-container md-no-float class="md-block">
              <label>Comuna</label>
              <md-icon md-svg-src="/assets/img/comuna.svg"></md-icon>
              <md-select ng-model="vm.comite.comuna_id">
                <md-option ng-repeat="comu in vm.comuna | orderBy : 'id'" value="{{ comu.id }}">{{ comu.des_comu }}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
      <div layout="row" layout-align="center center" flex layout-xs="column" class="datos">
        <md-button id="registro" class="md-raised" md-colors="{background: 'LightBlue-900'}" layout-fill style="min-height: 50px;" ng-click="vm.crearcomite(vm.comite)">Registrar Comité</md-button>
      </div> 
      <div layout="row" layout-align="end center" flex layout-xs="column">
        <md-button class="md-icon-button md-raised" layout-fill ui-sref="menuAdmin">
          <md-icon  md-svg-icon="/assets/img/back3.svg"></md-icon>
        </md-button>
      </div> 
    </div>
  </div>
</div>