<div layout-padding>
  <div flex="40" flex-offset="30" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="90" flex-offset-xs="5" class="fond mar">
    <div layout-padding>
      <div layout-xs="column" layout="row" layout-align="center center">
        <center>
          <h2>Inicia Sesión</h2>
          <img ng-src="/assets/img/user.png" class="md-card-image" alt="Washed Out">
        </center>
      </div>
      <div layout-xs="column">
        <div flex>
          <md-input-container class="md-icon-float md-block">
            <label >Usuario</label>
            <md-icon md-svg-src="/assets/img/usuario.svg" class="name"></md-icon>
            <input ng-model="vm.credentials.nombre_usu" type="text">
          </md-input-container>
          <md-input-container md-no-float class="md-block">
            <label>Contraseña</label>
            <md-icon md-svg-src="/assets/img/pass.svg"></md-icon>
            <input ng-model="vm.credentials.password" type="password">
          </md-input-container>
          <span ng-if="vm.loginError" style="color: red">Credenciales Erroneas</span>
        </div>
      </div>
      <div flex layout-xs="column">
        <center>
          <md-button id="registro" class="md-raised" md-colors="{background: 'LightBlue-900'}" ng-click="vm.login(vm.credentials)" layout-fill style="min-height: 50px;">Ingresar</md-button>
        </center>
      </div>
      <div layout-xs="column" layout-padding>
        <md-checkbox name="tos" ng-model="project.tos" required>
          No cerrar sesión
        </md-checkbox>
      </div>  
    </div>
  </div>
</div>