<div layout-padding>
  <div flex="100" flex-md="90" flex-offset-md="5" flex-sm="90" flex-offset-sm="5" flex-xs="90" flex-offset-xs="5" class="mar">
    <div layout-padding flex layout="column">
      <div layout-xs="column" layout-xs="column" layout-lg="row" layout="row" layout-align="center center">
        <div layout="column" layout-sm="column" layout-xs="column">

          <div layout-md="column" layout-lg="row">
            <div flex>
              <md-button ui-sref="comites">
                <md-card class="md-whiteframe-8dp">
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline" style="margin-top: 10px;">Comités</span>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-md card-media">
                        <center><img style="width: 60px" src="/assets/img/comite.png"></img></center>
                      </div>
                    </md-card-title-media>
                  </md-card-title>
                </md-card>
              </md-button>
            </div>
            <div flex>
              <md-button ui-sref="registroComite">
                <md-card class="md-whiteframe-8dp">
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Registrar</span>
                      <span class="md-headline">Comité</span>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-md card-media">
                        <center><img style="width: 60px" src="/assets/img/registrocomite.png"></img></center>
                      </div>
                    </md-card-title-media>
                  </md-card-title>
                </md-card>
              </md-button>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>