<div layout-padding>
  <form name="proyectForm">
    <div flex="40" flex-offset="30" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="90" flex-offset-xs="5" class="fond mar">
      <div>
        <center>
          <h2 layout-align="center center" layout="column" flex-xs="90" flex-offset-xs="5">Registro de Pagos</h2>
        </center>
        <div layout-xs="column">
          <div flex>
            <div layout-xs="row" layout="row">
              <div flex="60" flex-xs="50">
                <md-input-container md-no-float class="md-block">
                  <label>Número Cobranza</label>
                  <input ng-model="numCobranza" type="number">
                </md-input-container>
              </div>
              <div flex="40" flex-xs="50">
                <md-input-container md-no-float class="md-block">
                  <center><md-button md-colors="{background: 'Red'}" class="md-raised md-primary">Buscar</md-button></center>
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
        <div layout-xs="column">
          <div flex>
            <div layout="row" layout-xs="column">
              <div flex>
                <md-input-container md-no-float class="md-block">
                  <label>Número Medidor</label>
                  <input ng-model="nroMedidor" type="number">
                </md-input-container>
              </div>
              <div flex>
                <md-input-container md-no-float class="md-block">
                  <label>Nombre Socio</label>
                  <input ng-model="nomSocio" type="text">
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
        <div layout-xs="column">
          <div flex>
            <div layout="row" layout-xs="column">
              <div flex>
                <md-input-container md-no-float class="md-block">
                  <label>Suma del Mes</label>
                  <input ng-model="sumaMes" type="number">
                </md-input-container>
              </div>
              <div flex>
                <md-input-container md-no-float class="md-block">
                  <label>+ Saldo</label>
                  <input ng-model="masSaldo" type="number">
                </md-input-container>
              </div>
              <div flex>
                <md-input-container md-no-float class="md-block">
                  <label>- Subsidio</label>
                  <input ng-model="subsidio" type="number">
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
        <div layout-xs="column">
          <div flex>
            <div layout="row" layout-xs="column">
              <div flex>
                <md-input-container md-no-float class="md-block">
                  <label>Total a Pagar $:</label>
                  <input ng-model="totalPagar" type="number" disabled>
                </md-input-container>
              </div>
              <div flex>
                <md-input-container md-no-float class="md-block">
                  <label>Fecha de Pago</label>
                  <div flex-gt-xs>
                    <md-datepicker ng-model="ctrl.myDate" md-placeholder="Seleccione Día"></md-datepicker>
                  </div>
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
        <div flex layout-xs="column">
          <center>
            <md-button class="md-raised marg" md-colors="{background: 'Red'}" layout-fill style="min-height: 50px;">Ingresar</md-button>
          </center>
        </div>
        <div layout-xs="column">
          <div flex>
            <div layout-xs="row">
              <div flex>
                <br>
                <h2 layout-align="center center" layout="column">Boletas pendientes anteriores:</h2>
                <md-table-container>
                  <table md-table>
                    <thead md-head>
                      <tr md-row>
                        <th md-column md-numeric><span>Nro. Boleta</span></th>
                        <th md-column md-numeric><span>Suma Mes</span></th>
                        <th md-column md-numeric><span>Saldo</span></th>
                        <th md-column md-numeric><span>Subsidio</span></th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row class="tabla">
                        <td md-cell>095675</td>
                        <td md-cell>21000</td>
                        <td md-cell>12000</td>
                        <td md-cell>20000</td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>