<div layout-padding>
  <div class="fond mar">
    <div flex="40" flex-offset="30" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="90" flex-offset-xs="5" class="mar">
      <div flex flex-xs="90" flex-offset-xs="5">
        <div layout-xs="column" layout-xs="column" layout="column" layout-align="center center" style="margin-top: -50px;">
          <center>
            <h2>Clientes de Comité</h2>
            <h4>BLA BLA BLA</h4>
          </center>
        </div>  
        <div flex layout="row">
          <div flex="30" flex-offset="30" flex-xs="60" flex-offset-xs="10"> 
            <md-input-container>
              <input ng-model="vm.datocliente" type="text" placeholder="Buscar...">
            <md-input-container>
          </div> 
          <div flex=10 flex-xs="20">
              <md-button class="md-fab md-primary" aria-label="Use Android" md-colors="{background: 'light-blue-600'}" ng-click="vm.busqueda(vm.datocliente)">
                  <md-icon md-svg-src="/assets/img/busqueda.svg"></md-icon>
              </md-button>
          </div>
        </div>
      </div>
    </div>
    <div layout="row" flex layout-xs="column">
      <md-button class="md-icon-button md-raised" layout-fill ui-sref="menuListas" style="margin-bottom: 10px;">
        <md-icon  md-svg-icon="/assets/img/back3.svg"></md-icon>
      </md-button>
    </div> 
    <!--<div flex="20" layout="row" flex layout-xs="column">
      <md-button class="md-raised volverListas" md-colors="{background: 'cyan-600'}" layout-fill ui-sref="menuListas">Volver</md-button>
    </div>-->
    <div flex="94" flex-offset="3" flex-md="94" flex-offset-md="3" flex-xs="94" flex-offset-xs="3" class="fond" style="margin-bottom: 20px">
      <md-table-container>
        <table md-table md-row-select multiple md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="getDesserts">
            <tr md-row>
              <th md-column md-numeric>Nombre Cliente</th>
              <th md-column md-numeric>Num Medidor</th>
              <th md-column md-numeric>Comuna</th>
              <th md-column md-numeric>Domicilio</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="dessert" md-select-id="name" md-auto-select class="tabla" ng-repeat="medid in vm.cliente">
              <td md-cell>{{ medid.medidor.vivienda.vivienda_cliente.cliente.nombre }}</td>
              <td md-cell>{{ medid.vivienda.medidor.num_medidor }}</td>
              <td md-cell>{{ medid.vivienda.comuna.comuna_id }}</td>
              <td md-cell>{{ medid.vivienda.direccion }}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
    </div>
    <!--<div flex="20" layout="row" flex layout-xs="column">
      <md-button class="md-raised volverListas" md-colors="{background: 'cyan-600'}" layout-fill ui-sref="menuListas">Volver</md-button>
    </div>-->
    <div layout="row" flex layout-xs="column">
      <md-button class="md-icon-button md-raised" layout-fill ui-sref="menuListas" style="margin-bottom: 10px; margin-top: -13px;">
        <md-icon  md-svg-icon="/assets/img/back3.svg"></md-icon>
      </md-button>
    </div> 
  </div>
</div>
