<div layout-padding>
  <div flex="94" flex-offset="3" flex-md="94" flex-offset-md="3" flex-sm="94" flex-offset-sm="3" flex-xs="94" flex-offset-xs="3" class="fond mar">
    <div layout-padding>
      <div layout="row" flex layout-xs="column">
        <md-button class="md-icon-button md-raised" layout-fill ui-sref="comites" style="margin-bottom: -50px; margin-top: -5px; margin-left: -16px;">
          <md-icon  md-svg-icon="/assets/img/back3.svg"></md-icon>
        </md-button>
      </div>
      <div layout-xs="column" layout-xs="column" layout="row" layout-align="center center">
        <div>
          <h2>Comité</h2>
        </div>
      </div>
      <div layout="row" layout-xs="column">
        <div flex="50" flex-xs="100" flex-offset-xs="0" flex-sm="50" flex-offset-sm="0" flex-md="50" flex-offset-md="0" layout="column" layout-xs="column" class="fond" style="background-color: #B0DFEE">
          <div flex style="margin-top: 20px;">
            <img style="display: block; margin: auto; margin-top: 6px; width: 200px;" src="/assets/img/comite.png">
            <h3 style="text-align: center;" class="ima">Nombre: <strong>{{ vm.nombre }}</strong></h3>
            <h3 style="text-align: center;" class="ima">Comuna: <strong>{{ vm.comuna_id }}</strong></h3>
          </div>
        </div>
        <div flex="30" flex-xs="100" flex-offset-xs="0" flex-sm="50" flex-offset-sm="0" flex-md="50" flex-offset-md="0" layout="column" layout-xs="column" layout-align="center center" class="fond" style="background-color: #B0DFEE;">
          <div layout="column" layout-xs="column">
            <div flex>
              <md-button ui-sref="menuRegistros">
                <md-card class="md-whiteframe-8dp mdcardbutton">
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline textocard">Registrar</span>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-md card-media">
                        <center><img style="width: 60px; margin-right: 10px;" src="/assets/img/registros.png"></img></center>
                      </div>
                    </md-card-title-media>
                  </md-card-title>
                </md-card>
              </md-button>
            </div>
            <div flex>
              <md-button ui-sref="menuListas">
                <md-card class="md-whiteframe-8dp mdcardbutton">
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline textocard">Búsqueda</span>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-md card-media">
                        <center><img style="width: 60px; margin-right: 20px;" src="/assets/img/busquedas.png"></img></center>
                      </div>
                    </md-card-title-media>
                  </md-card-title>
                </md-card>
              </md-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
