<div>
  <md-toolbar class="md-hue-2 toolbar" md-colors="{background: 'Red'}" layout="row">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="vm.toggleLeft()">
        <md-icon md-svg-icon="/assets/img/menu.svg"></md-icon>
      </md-button>
      <h2 flex md-truncate>Be-Water</h2>
      <md-button ng-if="!vm.isLogged" ui-sref="login">
        Iniciar Sesion
      </md-button>
      <md-button ng-if="vm.isLogged" ng-click="vm.logout()">
        Cerrar Sesion
      </md-button>
    </div>
  </md-toolbar>
  <md-sidenav  md-colors="{background: 'Red-600'}" class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo table"  md-colors="{background: 'Red-600'}">
      <div layout-padding>
        <div layout="row">
          <img src="/assets/img/marco.jpg" class="imag"></img>
          <div layout="column" layout-padding>
            <h5>{{ vm.usuario.nombre_usu }}</h5>
          </div>
        </div>
      </div>
    </md-toolbar>
    <div layout-padding>
      <md-divider></md-divider>
      <div flex layout="column">
        <div layout="column">
          <div layout="column" layout-aling="start center">
            <md-button class="texto" ui-sref="login" ng-click="vm.toggleLeft()">
              <md-icon md-svg-src="/assets/img/usuarios.svg"></md-icon>Login
            </md-button>
          </div>
        </div>
        <div flex layout="column">
          <md-button class="texto" ui-sref="registro" ng-click="vm.toggleLeft()">
            <md-icon md-svg-src="/assets/img/usuarios.svg"></md-icon>Registro Clientes
          </md-button>
        </div>
        <div flex layout="column">
          <md-button class="texto" ui-sref="registromedidor" ng-click="vm.toggleLeft()">
            <md-icon md-svg-src="/assets/img/usuarios.svg" ></md-icon>Registro Medidor
          </md-button>
        </div>
        <div layout="column">
          <md-button class="texto" ui-sref="tabla" ng-click="vm.toggleLeft()">
            <md-icon md-svg-src="/assets/img/usuarios.svg"></md-icon>Clientes
          </md-button>
        </div>
         <div layout="column">
          <md-button class="texto" ui-sref="medidores" ng-click="vm.toggleLeft()">
            <md-icon md-svg-src="/assets/img/usuarios.svg"></md-icon>Medidor
          </md-button>
        </div>
        <div layout="column">
          <md-button class="texto" ui-sref="registroPagos" ng-click="vm.toggleLeft()">
            <md-icon md-svg-src="/assets/img/usuarios.svg"></md-icon>Registro Pagos
          </md-button>
        </div>
        <div layout="column">
          <md-button class="texto" ui-sref="registroMensual" ng-click="vm.toggleLeft()">
            <md-icon md-svg-src="/assets/img/usuarios.svg"></md-icon>Registro Mensual
          </md-button>
        </div>
        <div layout="column">
          <md-button class="texto" ui-sref="emisionCobranza" ng-click="vm.toggleLeft()">
            <md-icon md-svg-src="/assets/img/usuarios.svg"></md-icon>Emision Cobranza
          </md-button>
        </div>
         <div layout="column">
          <md-button class="texto" ui-sref="viviendas" ng-click="vm.toggleLeft()">
            <md-icon md-svg-src="/assets/img/usuarios.svg"></md-icon>Viviendas
          </md-button>
        </div>
        <div flex layout="column">
          <md-button class="texto" ui-sref="cliente" ng-click="vm.toggleLeft()">
            <md-icon md-svg-src="/assets/img/usuarios.svg"></md-icon>Cliente
          </md-button>
        </div>
      </div>
    </div>
  </md-sidenav>
</div>