html, body, ui-view,#root {
  margin: 0;
  height: 100%;
  font-family: 'Bree Serif';
  /*font-family: 'Open Sans', sans-serif;*/
  background-color: #83CEF6;
}

body, h1, h2, h3 {
  font-weight: 300;
}

.fond {
  border: 1px solid #ccc;
  padding: 0.01em 16px;
  border-radius: 16px;
  background-color: white;
}

.buttonancho {
  min-height: 20px;
}

.ima {
  margin-left: 1%;
  margin-right: 10px;
}

.some-pdf-container { 
  width: 100%; height: 100%;
} 

.imag {
  height: 80px;
  width: 80px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border: solid;
}

.texto {
  text-align: left;
  font-size: 16px;
}

.bor {
  border-top: solid 1px;
}

.nom {
  margin-top: 5px;
}

.menu {
  margin-right: 10px;
}

.tit {
  font-family: 'Lora', serif;
}

md-icon.tama {
  width: 12px;
  height: 12px;
}

md-icon {
  margin-right: 10px;
}

.tabla:hover {
  background-color:#e5e5e5;
}

.toolbar{
  overflow: hidden;
  position: fixed;
  top: 0; 
  width: 100%;
}

md-sidenav{
  overflow: hidden;
  position: fixed;
  top: 0; 
  width: 100%;
}

.mar {
  margin-top: 70px
}

md-card{
  width: 260px;
  height: 120px;
  border-radius: 15px;
  border: 1px solid grey;
  background-color: #FFDBAB;
  /*background-color: #FEA44B;*/
  /*background: linear-gradient(to left, #015167, #026986, #06A6D3, #039BE5);*/
}

.info {
  margin-right: 20px;
  margin-bottom: 4px;
  margin-top: 0px;
  text-align: right;
  padding-bottom: 20px;
}

.admin {
  margin-bottom: 5px;
}

.separar {
  border-top: 1px solid #ccc; 
  margin-top: 20px;
}

.md-headline {
  font-size: 22px;
  text-transform: capitalize;
}

.datos {
  margin-top: -30px;
}

#registro {
  border-radius: 13px;
  font-size: 15px;
}

.btn1 {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
  border-radius: 10px 0 0 10px;
  font-weight: bold;
  font-size: 12px;
}

.btn2 {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  font-size: 12px;
}

.sesion {
  font-size: 15px;
  text-transform:capitalize;
}

.icon1 {
  margin-right: 0px;
}

.logo {
  width: 150px;
  margin-bottom: -340px;
}

.volverRegistros {
  height: 40px;
  width: 150px;
  margin-top: -10px;
  border-radius: 13px;
  font-size: 15px;
  line-height: 40px;
}

.volverListas {
  margin-bottom: 15px;
  border-radius: 13px;
  width: 150px;
}
