<div layout-padding>
  <div flex="60" flex-offset="20" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="90" flex-offset-xs="5" class="fond mar">
    <div layout-padding>
      <div layout-xs="column" layout-xs="column" layout="row" layout-align="center center" flex-xs="90" flex-offset-xs="5">
        <h2>Registro de Lectura Mensual</h2>
      </div> 
      <div layout-xs="column" class="datos">
        <div flex>
          <div layout="row" layout-xs="column">
            <div flex>
              <md-input-container class="md-icon-float md-block">
                <label>Medidor</label>
                <md-icon md-svg-src="/assets/img/medidor.svg"></md-icon>
                <input ng-model="vm.dataMedidor.num_medidor" value="vm.dataMedidor.id" disabled>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container md-no-float class="md-block">
                <label>Vivienda</label>
                <md-icon md-svg-src="/assets/img/casa.svg"></md-icon>
                <input ng-model="vm.dataMedidor.vivienda.direccion" value="vm.dataMedidor.vivienda_id" disabled>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div layout-xs="column" class="datos">
        <div flex>
          <div layout="row" layout-xs="column" style="margin-bottom: 20px;">
            <div flex>
              <md-input-container md-no-float class="md-block">
                <label>Año</label>
                <md-icon md-svg-src="/assets/img/calendar.svg"></md-icon>
                <md-select ng-model="vm.lecMensual.year">
                  <md-option ng-repeat="anio in vm.anios" value="{{ anio.abbrev }}">{{ anio.abbrev }}</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container md-no-float class="md-block">
                <label>Mes</label>
                <md-icon md-svg-src="/assets/img/mes.svg"></md-icon>
                <md-select ng-model="vm.lecMensual.mes_id">
                  <md-option ng-repeat="mes in vm.mes | orderBy : 'id'" value="{{ mes.id }}">{{ mes.des_mes }}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div layout-xs="column" class="datos">
        <div flex>
          <div layout="row" layout-xs="column">
            <div flex>
              <md-input-container md-no-float class="md-block">
                <label>Lectura Anterior (m3)</label>
                <md-icon md-svg-src="/assets/img/lectura.svg"></md-icon>
                <input ng-model="vm.lecturaMensual.lectura" type="number" disabled>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container md-no-float class="md-block">
                <label>Lectura Actual (m3)</label>
                <md-icon md-svg-src="/assets/img/lectura.svg"></md-icon>
                <!--agregar min value (ajax)-->
                <input ng-model="vm.lecMensual.lectura" type="number" min="vm.lecturaMensual.lectura">
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div layout-xs="column" class="datos">
        <div flex>
          <div layout="row" layout-xs="column">
            <div flex layout="row" layout-align="center center" style="margin-top: -15px;">
              <md-input-container md-no-float class="md-block">
                <md-button id="registro" class="md-raised marg" md-colors="{background: 'light-green-900'}" layout-fill style="min-height: 50px; width: 200px;" ng-click="vm.calcular(vm.lecMensual)">Calcular</md-button>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container md-no-float class="md-block">
                <label>Consumo (m3)</label>
                <md-icon md-svg-src="/assets/img/lectura.svg"></md-icon>
                <input ng-model="vm.consumo" type="number" disabled>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div layout-xs="column" class="datos">
        <div flex>
          <div layout="row" layout-xs="column">
            <div flex>
              <md-input-container md-no-float class="md-block">
                <label>Cargo Fijo $/socio</label>
                <md-icon md-svg-src="/assets/img/saldo.svg"></md-icon>
                <input ng-model="vm.parametros.cargo_fijo" type="number" disabled>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container md-no-float class="md-block">
                <label>Alcantarillado $/m3</label>
                <md-icon md-svg-src="/assets/img/saldo.svg"></md-icon>
                <input ng-model="vm.parametros.alcantarillado" type="number" disabled>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div layout-xs="column" class="datos">
        <div flex>
          <div layout="row" layout-xs="column">
            <div flex>
              <md-input-container class="md-icon-float md-block">
                <label>Valor a Pagar $:</label>
                <md-icon md-svg-src="/assets/img/saldo.svg"></md-icon>
                <input ng-model="vm.valorPagar" type="number" disabled>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container class="md-icon-float md-block">
                <label>Saldo Anterior $:</label>
                <md-icon md-svg-src="/assets/img/saldo.svg"></md-icon>
                <input ng-model="vm.lecMensual.saldo_pagado" type="number">
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div layout-xs="column" class="datos">
        <div flex>
          <div layout="row" layout-xs="column">
            <div flex="50" flex-xs="100">
              <div layout="row" layout-align="center center" layout-padding>
                <md-button id="registro" class="md-raised marg" md-colors="{background: 'LightBlue-900'}" layout-fill style="min-height: 50px; width: 100%;" ng-click="vm.registrolectura(vm.lecMensual)">Registrar Lectura</md-button>
              </div>
            </div>
            <div flex="50" flex-xs="100">
              <div layout="row" layout-align="end center" flex layout-xs="column">
                <md-button class="md-icon-button md-raised" layout-fill ui-sref="medidorRegistrosMensuales" style="margin-top: 14px;">
                  <md-icon  md-svg-icon="/assets/img/back3.svg"></md-icon>
                </md-button>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>