<div layout-padding>
  <div flex="94" flex-offset="3" flex-md="94" flex-offset-md="3" flex-sm="94" flex-offset-sm="3" flex-xs="94" flex-offset-xs="3" class="fond mar">
    <div layout-padding>

      <div layout="row" flex layout-xs="column" ng-if="vm.usuario.superadmin == 1">
        <md-button class="md-icon-button md-raised" layout-fill ui-sref="tabla" style="margin-bottom: -50px; margin-top: -5px; margin-left: -16px;">
          <md-icon  md-svg-icon="/assets/img/back3.svg"></md-icon>
        </md-button>
      </div>

      <div layout="row" flex layout-xs="column" ng-if="vm.usuario.superadmin == 0">
        <md-button class="md-icon-button md-raised" layout-fill ui-sref="tabla" style="margin-bottom: -50px; margin-top: -5px; margin-left: -16px;">
          <md-icon  md-svg-icon="/assets/img/back3.svg"></md-icon>
        </md-button>
      </div>

      <div layout-xs="column" layout-xs="column" layout="row" layout-align="center center">
        <div>
          <h2>Perfil del Cliente</h2>
        </div>
      </div>
      <div layout="row" layout-xs="column">
        <div flex="50" flex-xs="100" flex-sm="50" flex-md="50" layout="column" layout-xs="column" class="fond" style="background-color: #B0DFEE">
          <div flex>
            <img style="display: block; margin: auto; margin-top: 6px; width: 200px;" src="/assets/img/perfil.png">
            <h3 style="text-align: center;" class="ima">{{ vm.nombre + ' ' + vm.apellido_pater + ' ' + vm.apellido_mater }}</h3>
            <!--<div flex layout-xs="column">
              <div layout="row" layout-align="center center" layout-padding>
                <md-button id="registro" ui-sref="#" layout-fill style="background-color: #FFDBAB; height: 50px; width: 170px; margin-top: -15px; border: 1px solid;"><md-icon style="margin-top: -9px;" md-svg-src="/assets/img/edit.svg"></md-icon>Editar Perfil</md-button>
              </div>
            </div>-->
          </div>
        </div>
        <div flex="50" flex-xs="100" layout-align="center center" class="fond" style="background-color: #B0DFEE;">
          <div layout-xs="column" layout-xs="column" layout="row" layout-align="center center">
            <h3>Info. Básica</h3>
          </div>
          <div layout="row" class="perfil" style="margin-top: -10px;">
            <md-icon class="ima" md-svg-src="/assets/img/rut.svg"></md-icon>
            <p class="ima">{{ vm.rut_cliente }}</p>
          </div>
          <div layout="row" class="perfil" style="margin-top: -10px;">
            <md-icon class="ima" md-svg-src="/assets/img/telefono.svg"></md-icon>
            <p class="ima">+{{ vm.telefono }}</p>
          </div>
          <div layout="row" class="perfil" style="margin-top: -10px;">
            <md-icon class="ima" md-svg-src="/assets/img/correo.svg"></md-icon>
            <p class="ima">{{ vm.email }}</p>
          </div>
        </div>
      </div>
      
      <hr style="border:15px; background-color: #83CEF6; border-radius: 15px;">

      <div ng-cloak>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="vivienda">
            <div class="md-padding">
              <md-table-container>
                <table md-table md-row-select multiple md-progress="promise">
                  <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                    <tr md-row>
                      <th md-column md-numeric>Código</th>
                      <th md-column md-numeric>Dirección</th>
                      <th md-column md-numeric>Subsidio</th>
                      <th md-column md-numeric>Fecha Ingreso</th>
                      <th md-column md-numeric>Ubicación</th>
                      <th md-column md-numeric>Estado</th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select="dessert" md-select-id="name" md-auto-select class="tabla" ng-repeat="viviend in vm.vivienda">
                      <td md-cell>{{ viviend.id }}</td>
                      <td md-cell>{{ viviend.direccion }}</td>
                      <td md-cell>{{ viviend.subsidio.des_subsidio }}</td>
                      <td md-cell>{{ viviend.fecha_ingreso }}</td>
                      <td md-cell>{{ viviend.comuna.des_comu }}</td>
                      <td md-cell>{{ viviend.estado.des_estado }}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
              <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
            </div>
          </md-tab>
          <md-tab label="medidor">
            <div class="md-padding">
              <md-table-container>
                <table md-table md-row-select multiple md-progress="promise">
                  <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                    <tr md-row>
                      <th md-column md-numeric>Código</th>
                      <th md-column md-numeric>Número</th>
                      <th md-column md-numeric>Marca</th>
                      <th md-column md-numeric>Fecha Registro</th>
                      <th md-column md-numeric>Lectura Incial</th>
                      <th md-column md-numeric>Estado</th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select="dessert" md-select-id="name" md-auto-select class="tabla" ng-repeat="medi in vm.medidor">
                      <td md-cell>{{ medi.id }}</td>
                      <td md-cell>{{ medi.num_medidor }}</td>
                      <td md-cell>{{ medi.marca_medidor }}</td>
                      <td md-cell>{{ medi.fecha_registro }}</td>
                      <td md-cell>{{ medi.lectura_inicial }}</td>
                      <td md-cell>{{ medi.estado_medidor.des_estado_medidor }}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
              <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
            </div>
          </md-tab>
          <md-tab label="boletas">
            <div class="md-padding">
              <md-table-container>
                <table md-table md-row-select multiple md-progress="promise">
                  <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                    <tr md-row>
                      <th md-column md-numeric>Nro Boleta</th>
                      <th md-column md-numeric>Cliente</th>
                      <th md-column md-numeric>Domicilio</th>
                      <th md-column md-numeric>Monto a Pagar</th>
                      <th md-column md-numeric>Lectura Ant/Act</th>
                      <th md-column md-numeric>Total</th>
                      <th md-column md-numeric>Fecha Pago</th>
                      <th md-column md-numeric></th>
                      <th md-column md-numeric></th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select="dessert" md-select-id="name" md-auto-select class="tabla" ng-repeat="boleta in vm.boleta">
                      <td md-cell>{{ boleta.nro_boleta }}</td>
                      <td md-cell>{{ boleta.nombre_cliente }}</td>
                      <td md-cell>{{ boleta.domicilio }}</td>
                      <td md-cell>${{ boleta.monto_pagar }}</td>
                      <td md-cell>{{ boleta.lectura_anterior + ' | ' + boleta.lectura_actual}}</td>
                      <td md-cell>${{ boleta.total }}</td>
                      <td md-cell>{{ boleta.fecha_pago }}</td>
                      <td md-cell><md-button style="margin-right: -40px; margin-left: -20px;" class="md-fab" md-colors="{background: 'LightBlue-700'}" ui-sref="pdf"><md-icon class="icon1" md-svg-src="/assets/img/pdf.svg"></md-icon></md-button></td>
                      <td md-cell><md-button class="md-fab" md-colors="{background: 'LightBlue-700'}" ng-click="vm.descarga()" download="vm.pdf"><md-icon md-svg-src="/assets/img/download.svg"></md-icon></md-button></td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
              <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
            </div>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</div>
